/************************For Spanish Space Bar*******************************/

/**********************************************************************************/



.link1,.link2{
	
	color:black;
	
}


.title{
	float:left;
	width:45%;
}

.MainBtnTable{
	height:100%;
	width:100%;
}
.MainBtnTable td{
	vertical-align:middle;
}



.button {
   border: 1px solid #6ea4be;
   background: #f7f5ed;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7f5ed), to(#f7f5ed));
   background: -webkit-linear-gradient(top, #f7f5ed, #f7f5ed);
   background: -moz-linear-gradient(top, #f7f5ed, #f7f5ed);
   background: -ms-linear-gradient(top, #f7f5ed, #f7f5ed);
   background: -o-linear-gradient(top, #f7f5ed, #f7f5ed);
   background-image: -ms-linear-gradient(top, #f7f5ed 0%, #f7f5ed 100%);
   padding: 3.5px 21px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #e60303;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   font-weight:bold;
  
   }
.TextDiv
{
	/*width:98%; */
	margin-top:20px;
	/*display:inline-block; */
	
}


.bull1{
	color:#C00;
	float:left;
	
}



.tab1{
	width:100%;
}

tr,td{border:0px solid grey;
}


.td1,.td2,.td3{
	text-align:center;
}

.td1{
	width:40%;
}


.td2{
	width:20%;
}


.td3{
	width:40%;
}



.content5_0_1{
	float:left;
}

.content5_5_11{
	display:inline-block;
	width:100%;
}


.content5_5_11A{
	width:70%;
	float:left;
	margin-top:45px;
}


.content5_5_11B{
	width:30%;
	float:right;
}


.content5_8{
	margin-left:20%;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-left:5%;
}



.open,.close{
	position:absolute;
	width:1.1%;
}

.ContentFourthButton,.ContentSecondButton{
	position:relative;
}


.content1_2_1{
	/*float:left;*/
	width:100%;
}

.content1_2_11{
	float: left;
	
}

.content1_2_12{
	
	margin-left:9%;
}


.content1_4{
	width:100%;
	display:inline-block;
}

.content1_4_1{
	/*float:left;*/
	width:100%;
}

.content1_4_11{
	float: left;
	
}

.content2_22{
	float:left;
}


.content1_4_12{
	
	margin-left:9%;
}

.content1_5{
	margin-left:9%;
}



.wrap{
	white-space:nowrap;
}

.content2_1_5 {
	margin-left:42%;
}


.content2_1_1{
	margin-left:15%;
}

.content2_1_2{
	margin-left:13.3%;
}

.content2_1_3{
	margin-left:21.5%;
}

.content2_1_4{
	margin-left:14.8%;
}


.content2_3_1{
	margin-left:27%;

}

.content2_8{
	margin-left:20%;
		margin-top:-10%;
}



.red_color1{
	color:#F00;
}



.hid{
	opacity:0;
}





.bold
{
	font-weight:bold;
}
.Button1Img1Div
{
	width:80%;
}
.Img
{
	width:100%;
}


.FirstButtonCon1,.Button1Img1Div
{
	margin-top:20px;
}
.FirstButtonCon2,.FirstButtonCon3,.FirstButtonCon4,.FirstButtonCon5,.FirstButtonCon6,.FirstButtonCon7,.FirstButtonCon8,.FirstButtonCon9,.FirstButtonCon10,.FirstButtonCon11
{
	margin-top:15px;
}

.FirstButtonCon6,.FirstButtonCon7,.FirstButtonCon8,.FirstButtonCon9{
	margin-left:160px;
}




.Button2Img1Div
{
	float:left;
	width:20%;
}
.FloatLeft
{
	float:left;
}
.Button2Img1Div
{
	width:8%;
	margin-left:5%;
	margin-top:5px;
}
.Button2Img2Div 
{
	width:30%;
	margin-left:20%;
	margin-top:10px;
}
.Button3Img1Div
{
	width:50%;
	margin-left:25%;
	
}
.hiddenVisibility
{
	visibility:hidden;
}
.FourthButtonCon7,.FourthButtonCon8,.FifthButtonCon6,.FifthButtonCon7
{
	margin-left:20%;
	width:80%;
}
.FifthButtonCon8,.FifthButtonCon9
{
	margin-left:24%;
	width:76%;
}
.normalFont
{
	font-weight:normal;
}

.ThirdButtonCon1{
	margin-top:0px;
}
.ThirdButtonCon2,.ThirdButtonCon3,.ThirdButtonCon4,.ThirdButtonCon5,.ThirdButtonCon6{
	margin-top:4%;
}





.maroon{color:#900;}

.arrow1{
	width:11.5%;
}




@media (min-width: 450px) and (max-width: 574px) and (orientation:landscape){ 

.SpaceBarDiv {
    position: absolute;
    height: 15px;
    width: 26%;
    margin-top: -1%;
    margin-left: 10%;
}
.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:6px;
	font-family: "Times New Roman", Times, serif;
	padding: 1px 2px;
	float:left;

}
.link{
	
	padding-top:0%;
	margin-top:0px;
}
.link2{
	margin-left:30px;
}

.link2{
	margin-left:30px;
}

.header h2
{
	font-size:8px;
	margin-left:20px;
	padding-top:0px;
}




.arrow{
	width:13%;
}



.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:5px;
	margin-left:12%;
}

.content1_3{
	margin-top:5px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:5px;
}

.content1_7{
	margin-top:5px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:5px;
}

.content3_2,.content3_3{
	margin-top:6px;
}


.content3_3{
	width:38%;
	margin-left:11%;

}


.content4_2{
	margin-top:5px;
}

.content4_3{
	margin-top:5px;
}


.content5_5_11A{
	margin-top:15px;
}

.content4_4{
	margin-top:5px;
}

.content4_6{
	margin-top:10px;
}

.content4_7,.content4_9{
	margin-top:5px;
}

.content4_8{
	margin-top:8px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:5px;
}

.content5_3{
	margin-top:10px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:10px;
}


.content6_3{
	margin-top:15px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:15%;
	margin-left:30%;
		margin-top:-41px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:85%;
}

.note {
    height: 13px;
    width: 70%;
    font-size: 7px;
}

.content5_0_2{
	margin-left:12%;
}


.content_note{
	margin-top:33px;
}


.content_note{
	width:54%;
}
}


/*---------------------------------------------------------------- HTC one x ------------------------------------------------------------*/


@media (min-width: 575px) and (max-width: 675px) and (orientation:landscape) { 

.SpaceBarDiv {
    width: 62%;
}
.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:8px;
	font-family: "Times New Roman", Times, serif;
	padding: 1px 2px;
	float:left;

}
.link{
	
	padding-top:0%;
	margin-top:1px;
}

.link2{
	margin-left:40px;
}


.header h2
{
	font-size:10px;
	margin-left:20px;
	padding-top:1px;
}



.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:5px;
	margin-left:12%;
}

.content1_3{
	margin-top:15px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:5px;
}

.content1_7{
	margin-top:10px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:8px;
}

.content3_2,.content3_3{
	margin-top:10px;
}


.content3_3{
	width:35%;
	margin-left:11%;

}

.content4_2{
	margin-top:5px;
}

.content4_3{
	margin-top:5px;
}


.content5_5_11A{
	margin-top:15px;
}

.content4_4{
	margin-top:5px;
}

.content4_6{
	margin-top:15px;
}

.content4_7,.content4_9{
	margin-top:5px;
}

.content4_8{
	margin-top:10px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:5px;
}

.content5_3{
	margin-top:10px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:20px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:15%;
	margin-left:30%;
		margin-top:-60px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note {
    height: 17px;
    width: 60%;
    font-size: 10px;
}

.content5_0_2{
	margin-left:12%;
}


.content_note{
	margin-top:40px;
}



}

 /*---------------------------------------------------------------- i phone 7 plus -------------------------------------------------------------*/

@media (min-width: 676px) and (max-width: 775px) and (orientation:landscape){ 
.SpaceBarDiv {
    height: 20px;
    width: 60%;
}

.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:11px;
	font-family: "Times New Roman", Times, serif;
	padding: 1px 2px;
	float:left;

}
.link{
	
	padding-top:0%;
	margin-top:1px;
}

.link2{
	margin-left:40px;
}


.header h2
{
	font-size:12px;
	margin-left:20px;
	padding-top:1px;
}



.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:10px;
	margin-left:12%;
}

.content1_3{
	margin-top:20px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:10px;
}

.content1_7{
	margin-top:20px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:12px;
}

.content3_2,.content3_3{
	margin-top:15px;
}


.content3_3{
	width:33%;
	margin-left:11%;

}

.content4_2{
	margin-top:10px;
}

.content4_3{
	margin-top:10px;
}


.content5_5_11A{
	margin-top:15px;
}

.content4_4{
	margin-top:10px;
}

.content4_6{
	margin-top:20px;
}

.content4_7,.content4_9{
	margin-top:10px;
}

.content4_8{
	margin-top:15px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:10px;
}

.content5_3{
	margin-top:15px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:20px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:16%;
	margin-left:30%;
		margin-top:-60px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note{
	height: 20px;
    width: 55%;
	font-size:12px;
}

.content5_0_2{
	margin-left:10%;
}



.content_note{
	margin-top:40px;
	width:54%;
}





}


 /*------------------------------------------------------------- Custom ------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 776px) and (max-width: 876px) and (orientation:landscape)
{

.title{
	float:left;
	width:50%;
	
}
.button {
	font-size:13px;
	font-family: "Times New Roman", Times, serif;
	padding: 1px 2px;
	float:left;

}
.link{
	
	padding-top:0%;
	margin-top:1px;
}

.link2{
	margin-left:45px;
}


.header h2
{
	font-size: 14px;
    margin-left: 10px;
    padding-top: 3px;
}



.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:10px;
	margin-left:12%;
}

.content1_3{
	margin-top:20px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:10px;
}

.content1_7{
	margin-top:20px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:15px;
}

.content3_2,.content3_3{
	margin-top:25px;
}


.content3_3{
	width:38%;
	margin-left:11%;

}


.content4_2{
	margin-top:15px;
}

.content4_3{
	margin-top:15px;
}


.content5_5_11A{
	margin-top:15px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:25px;
}

.content4_7,.content4_9{
	margin-top:15px;
}

.content4_8{
	margin-top:20px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:10px;
}

.content5_3{
	margin-top:25px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:30px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:16%;
	margin-left:30%;
	margin-top:-50px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note {
    height: 22px;
    width: 51%;
    font-size: 12px;
}

.content5_0_2{
	margin-left:12%;
}



.content_note{
	margin-top:55px;
}



 

}
 
/*---------------------------------------------------------- nexus 7 ---------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 877px) and (max-width: 980px) and (orientation:landscape)
{

.title{
	float:left;
	width:50%;
	
}
.button {
	font-size: 18.5px;
    font-family: "Times New Roman", Times, serif;
    padding: 2px 10px;
    float: left;

}
.link{
	
	padding-top:0%;
	margin-top:4px;
}

.link2{
	margin-left:70px;
}


.header h2
{
	font-size:18.5px;
	margin-left:20px;
	padding-top:5px;
}


.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:25px;
	margin-left:12%;
}

.content1_3{
	margin-top:35px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:25px;
}

.content1_7{
	margin-top:40px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:30px;
}

.content3_2,.content3_3{
	margin-top:40px;
}


.content3_3{
	width:34%;
	margin-left:14%;

}


.content4_2{
	margin-top:15px;
}

.content4_3{
	margin-top:15px;
}


.content5_5_11A{
	margin-top:45px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:25px;
}

.content4_7,.content4_9{
	margin-top:15px;
}

.content4_8{
	margin-top:20px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:15px;
}

.content5_3{
	margin-top:35px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:30px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:16%;
	margin-left:30%;
	margin-top:-50px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note {
    height: 26px;
    width: 50%;
    font-size: 15px;
}


.content5_0_2{
	margin-left:12%;
}



.content_note{
	margin-top:55px;
}






}

 /*----------------------------------------------     i pad mini -----------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 981px) and (max-width: 1100px) and (orientation:landscape)
{
	
.MainBtns {
    font-size: 20px;
}

.title{
	float:left;
	width:47%;
	
}
.button {
	font-size: 21px;
    font-family: "Times New Roman", Times, serif;
    padding: 2px 10px;
    float: left;

}
.link{
	
	padding-top:0%;
	margin-top:6px;
}

.link2{
	margin-left:70px;
}

.header h2
{
	font-size:21px;
	margin-left:20px;
	padding-top:5px;
}



.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:25px;
	margin-left:12%;
}

.content1_3{
	margin-top:35px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:25px;
}

.content1_7{
	margin-top:40px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:34px;
}

.content3_2,.content3_3{
	margin-top:60px;
}


.content3_3{
	width:36%;
	margin-left:14%;

}


.content4_2{
	margin-top:15px;
}

.content4_3{
	margin-top:15px;
}


.content5_5_11A{
	margin-top:60px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:35px;
}

.content4_7,.content4_9{
	margin-top:15px;
}

.content4_8{
	margin-top:35px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:15px;
}

.content5_3{
	margin-top:40px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:40px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:12%;
}

.line2{
	width:16%;
	margin-left:30%;
	margin-top:-50px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note{
	height: 30px;
    width: 55%;
	font-size:16px;
}
.content5_0_2{
	margin-left:12%;
}



.content_note{
	margin-top:125px;
	width:54%;
}



	

}

/*--------------------------------------------------  test ---------------------------------------------------*/
 /*// Medium devices (tablets, 768px and up)*/
@media (min-width: 1101px) and (max-width: 1300px) and (orientation:landscape)
{


.title{
	float:left;
	width:50%;
	
}
.button {
	font-size:25px;
	font-family: "Times New Roman", Times, serif;
	 

}
.link{
	
	padding-top:0%;
	margin-top:5px;
}

.link2{
	margin-left:75px;
}


.header h2
{
	font-size:24px;
	margin-left:20px;
	padding-top:5px;
	
}


.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:25px;
	margin-left:12%;
}

.content1_3{
	margin-top:35px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:25px;
}

.content1_7{
	margin-top:40px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:20px;
}

.content3_2,.content3_3{
	margin-top:60px;
}


.content3_3{
	width:34%;
	margin-left:14%;

}


.content4_2{
	margin-top:15px;
}

.content4_3{
	margin-top:15px;
}


.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:25px;
}

.content4_7,.content4_9{
	margin-top:25px;
}

.content4_8{
	margin-top:20px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:15px;
}

.content5_3{
	margin-top:40px;
}

.content5_5_11A{
	margin-top:60px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:15px;
}


.content6_3{
	margin-top:50px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:55%;
	margin-left:5%;
}

.line2{
	width:16%;
	margin-left:30%;
	margin-top:-110px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note {
    height: 30px;
    width: 52%;
    font-size: 19px;
}
.content5_0_2{
	margin-left:13%;
}



.content_note{
	margin-top:65px;
}




.MainBtns {
    font-size: 21px;
}

}
/*--------------------------------------------------    desktop  -----------------------------------------------------------------------------------*/

 @media (min-width: 1301px) and (max-width: 1500px) and (orientation:landscape)
{


.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:22px;
	font-family: "Times New Roman", Times, serif;
	padding: 2px 10px;
}
.link{
	
	padding-top:0%;
	margin-top:5px;
}

.link2{
	margin-left:80px;
}
.content3_3{
	width:30%;
	margin-left:11%;

}


.header h2
{
	font-size:22px;
	margin-left:20px;
	padding-top:5px;
}



.arrow{
	width:13%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:15px;
	margin-left:12%;
}

.content1_3{
	margin-top:25px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:15px;
}

.content1_7{
	margin-top:40px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:30px;
}

.content3_2,.content3_3{
	margin-top:35px;
}


.content4_2{
	margin-top:15px;
}

.content4_3{
	margin-top:15px;
}


.content4_4{
	margin-top:30px;
}

.content4_6{
	

	margin-top:30px;
}

.content4_7,.content4_9{
	margin-top:15px;
}

.content4_8{
	margin-top:35px;
}


.content5_2,.content5_4,.content5_5,.content5_6{
	margin-top:25px;
}



.content5_5,.content5_6{
	margin-top:20px;
}


.content5_3{
	margin-top:35px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:50px;
}


.content6_3{
	margin-top:50px;
}

.line{
	width:48%;
	margin-left:8%;
}


.line1{
	width:48%;
	margin-left:8%;
}

.line2{
	width:13%;
	margin-left:30%;
	margin-top: -108px;
}

.line3{
	width:55%;
	margin-left:12%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:75%;
}

.note{
	height: 30px;
    width: 32%;
}

.content5_0_2{
	margin-left:10%;
}



.content_note{
	margin-top:194px;
}





}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 1501px) and (max-width: 1800px) and (orientation:landscape)
{

.MainBtns {
    font-size: 29px;
}

.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:30px;
	font-family: "Times New Roman", Times, serif;
	padding: 2px 10px;
}
.link{
	
	padding-top:0%;
	margin-top:10px;
}

.link2{
	margin-left:95px;
}


.header h2
{
	font-size:30px;
	margin-left:20px;
	padding-top:5px;
}



.arrow{
	width:14%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:30px;
	margin-left:12%;
}

.content1_3{
	margin-top:40px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:30px;
}

.content1_7{
	margin-top:40px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:25px;
}

.content3_2,.content3_3{
	margin-top:60px;
}


.content3_3{
	width:35%;
	margin-left:14%;

}

.content4_3{
	margin-top:25px;
}


.content5_5_11A{
	margin-top:40px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:35px;
}

.content4_7,.content4_9{
	margin-top:10px;
}

.content4_8{
	margin-top:30px;
}


.content5_2,.content5_4,.content5_5{
	margin-top:20px;
}

.content5_6{
	margin-top:25px;
}


.content5_3{
	margin-top:30px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:60px;
}


.content6_3{
	margin-top:100px;
}

.line{
	width:55%;
	margin-left:12%;
}


.line1{
	width:53%;
	margin-left:12%;
}

.line2{
	width:15%;
	margin-left:30%;
	margin-top:-160px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note{
	height: 40px;
    width: 55%;
	font-size:25px;
}
.content5_0_2{
	margin-left:12%;
}



.content_note{
	margin-top:310px;
}






}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
  @media (min-width: 1801px) and (max-width: 2000px) and (orientation:landscape)
{


.title{
	float:left;
	width:40%;
	
}
.button {
	font-size:36px;
	font-family: "Times New Roman", Times, serif;
	padding: 2px 10px;
}
.link{
	
	padding-top:0%;
	margin-top:5px;
}



.link2{
	margin-left:95px;
}

.header h2
{
	font-size:34px;
	margin-left:20px;
	padding-top:5px;
}




.arrow{
	width:15%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:30px;
	margin-left:12%;
}

.content1_3{
	margin-top:50px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:30px;
}

.content1_7{
	margin-top:60px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:45px;
}

.content3_2,.content3_3{
	margin-top:60px;
}


.content3_3{
	width:33%;
	margin-left:14%;

}

.content4_2{
	margin-top:25px;
}

.content4_3{
	margin-top:25px;
}


.content5_5_11A{
	margin-top:100px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:45px;
}

.content4_7,.content4_9{
	margin-top:25px;
}

.content4_8{
	margin-top:45px;
}


.content5_2,.content5_4,.content5_5{
	margin-top:40px;
}

.content5_5{
	margin-top:0px;
}

.content5_6{
	margin-top:30px;
}


.content5_3{
	margin-top:35px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:80px;
}


.content6_3{
	margin-top:100px;
}

.line{
	width:55%;
	margin-left:10%;
}


.line1{
	width:55%;
	margin-left:10%;
}

.line2{
	width:12%;
	margin-left:30%;
	margin-top:-120px;
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note{
	height: 42px;
    width: 55%;
	font-size:32px;
}

.content5_0_2{
	margin-left:13%;
}

.content_note{
	width:54%;
}


.content_note{
	margin-top:240px;
}





}
/*-------------------------------------------------------------------------------------------------------------------------------------*/

  @media (min-width: 2001px) and (orientation:landscape)
{
	

.title{
	float:left;
	width:45%;
	
}
.button {
	font-size:40px;
	font-family: "Times New Roman", Times, serif;
	padding: 2px 10px;
}
.link{
	
	padding-top:0%;
	margin-top:16px;
}


.link2{
	margin-left:155px;
}


.header h2
{
	font-size:40px;
	margin-left:20px;
	padding-top:5px;
}


.arrow{
	width:18%;
}


.content1_11_1{
	margin-left:3%;
}


.content1_31_1{
	margin-left:3%;
}

.content1_71_1{
	margin-left:3%;
}


.content1_11_2{
	margin-top:20px;
}



.content1_2{
	margin-top:40px;
	margin-left:12%;
}

.content1_3{
	margin-top:60px;
}



.content1_4{
	margin-top:30px;
}

.content1_6{
	
	margin-left:12%;
	margin-top:40px;
}

.content1_7{
	margin-top:60px;
}

.content2_11_2,.content2_11_3,.content2_11_4{
	margin-top:10px;
}


.content2_2,.content2_3,.content2_4,.content2_5,.content2_6,.content2_7{
	margin-top:50px;
}

.content3_2,.content3_3{
	margin-top:60px;
}


.content3_3{
	width:33%;
	margin-left:14%;

}


.content4_2{
	margin-top:25px;
}

.content4_3{
	margin-top:25px;
}


.content5_5_11A{
	margin-top:100px;
}

.content4_4{
	margin-top:25px;
}

.content4_6{
	margin-top:35px;
}

.content4_7,.content4_9{
	margin-top:10px;
}

.content4_8{
	margin-top:25px;
}


.content5_2,.content5_4,.content5_5{
	margin-top:30px;
}

.content5_6{
	margin-top:50px;
}


.content5_3{
	margin-top:55px;
}



.content5_3_1{
	margin-left:27%;
}


.content6_2{
	margin-top:100px;
}


.content6_3{
	margin-top:100px;
}

.line{
	width:55%;
	margin-left:10%;
}


.line1{
	width:55%;
	margin-left:10%;
}

.line2{
	width:16%;
	margin-left:30%;
	margin-top:-130px;
	
}

.line3{
	width:60%;
	margin-left:8%;
}

.content6_4{
	margin-left:16%;
}

.content6_5{
	margin-left:78%;
}

.note {
    height: 44px;
    width: 53%;
    font-size: 38px;
}

.content5_0_2{
	margin-left:12%;
}

.content_note{
	width:54%;
}


.content_note{
	margin-top:240px;
}



.top{vertical-align:top;}

