*{
	margin:0px;
	padding:0px; 
}
  body{
    -webkit-text-size-adjust: none;
	 -moz-text-size-adjust: none;
	 -ms-text-size-adjust: none;
	 
  }
.container-fluid {
	font-family:"Times New Roman", Times, serif;
	text-align:left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%, 100%;
	margin:auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: calc(100%);
	position:absolute;
	/*left:calc((100% - 1200px) / 2);*/
	
	 
}
.header {
	float:left;
	height:7%;
	width:100%;
	display:inline-block;
	background-image: -webkit-gradient(linear, bottom top, bottom top, from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -webkit-linear-gradient(bottom, rgba(102, 179, 255, 0.37), #fff);
	background-image: -moz-gradient(linear, bottom top, bottom top, from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -moz-linear-gradient(bottom, rgba(102, 179, 255, 0.37), #fff);
	background-image: -ms-gradient(linear, bottom top from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -ms-linear-gradient(bottom, rgba(102, 179, 255, 0.37), #fff);
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5966b3ff',GradientType=0 ); /* IE6-9 */
	/*-ms-filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB);*/
}
.container {
	height:81%;
	width:100%;
	float:left;
}
.container-left {
	width:20%;
	height:100%;
	float:left;
	/*-webkit-box-shadow: 0px 0px 0px #888888, 0px 0px 15px rgba(0, 0, 0, .4), inset 0px 0px 6px rgba(255, 255, 255, .3), inset 6px 0px 0px rgba(255, 255, 255, .5);
	-moz-box-shadow: 6px 0px 0px #888888, 0px 3px 15px rgba(0, 0, 0, .4), inset 6px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);*/
	/*box-shadow: 6px 0px 0px #888888, 0px 0px 0px rgba(0, 0, 0, .4), inset 6px px 0px rgba(255, 255, 255, .3), inset 6px 0px 0px rgba(255, 255, 255, .5);*/
	-webkit-box-shadow: 12px 0px 6px -6px rgba(102, 179, 255, 0.37);
	-moz-box-shadow: 12px 0px 6px -6px rgba(102, 179, 255, 0.37);
	-ms-box-shadow: 12px 0px 6px -6px rgba(102, 179, 255, 0.37);
	box-shadow: 12px 0px 6px -6px rgba(102, 179, 255, 0.37);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='white',GradientType=0 ),
				progid:DXImageTransform.Microsoft.DropShadow( offX=5, offY=0, color=#5966b3ff);
			
			
			

			
			
			
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -webkit-linear-gradient(top, rgba(102, 179, 255, 0.37), #fff);
	background-image: -moz-gradient(linear, left top, left bottom, from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -moz-linear-gradient(top, rgba(102, 179, 255, 0.37), #fff);
	background-image: -ms-gradient(linear, left top, left bottom, from(rgba(102, 179, 255, 0.37)), to(#fff));
	background-image: -ms-linear-gradient(top, rgba(102, 179, 255, 0.37), #fff);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(102, 179, 255, 0.37)', endColorstr='white',GradientType=0 );*/

}
.container-right {
	
	width:78%;
	height:99.6%;
	float:left;
	background-color:#FFF;
	margin-left:2%;
	
}

.ButonSubCommon{
	margin-top:5px;
}
.inputForFocus
{
	width:1px;
	height:1px;
	position:absolute;
	margin-top:-1000px;
}
.middle{
	width:100%;
}

.main_btn_div{
	position:relative;	
	width:95%;
	z-index:1;
}
.tickMainBtn{
	position:absolute;	
	top:0;
	right:0;
	z-index:10;
}
.handMainBtn
{
	padding-left: 100%;
	z-index:-1;
}
.MainBtns
{
	display:block;
	height:100%;
	z-index:1;

}




.tick{
	color:#009933;
	position:absolute;
	}
	
	


.footer {
	width:100%;
	display:inline-block;
	float:left;
	height:9%;
	border-top:1px solid gray;
	
}
.buttons {
	
	width:100%;
}
.first_button,.second_button,.third_button,.fourth_button,.fifth_button {
	width:95%;
	margin-left:5%;
	font-family:"Times New Roman", Times, serif;
}
.print, .autorun, .back_button, .forward_button {
	float:left;
}
h2 {
	font-family:"Times New Roman", Times, serif;
}
button {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-weight: bold;
 	background-color: #538fbe;
	background-image: linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -o-linear-gradient(bottom, #fff) 0%, #c4d8e9 100%);
	background-image: -moz-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -ms-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #c4d8e9) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   -webkit-transition: all .1s ease-in-out;
   -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	-webkit-transform: rotateX(20deg);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d8e9', endColorstr='white',GradientType=0 ),
				progid:DXImageTransform.Microsoft.DropShadow( offX=0, offY=5, color=#2b638f);
				
}
button:hover {
	background-image: linear-gradient(top, #fff 0%, #c4d8e9 100%);
	background-image: -o-linear-gradient(top, #fff) 0%, #c4d8e9 100%);
	background-image: -moz-linear-gradient(top, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-linear-gradient(top, #fff 0%, #c4d8e9 100%);
	background-image: -ms-linear-gradient(top, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-gradient( linear, left top, left button, color-stop(0, #fff), color-stop(1, #c4d8e9) );
	cursor:pointer;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#c4d8e9',GradientType=0 ),
				progid:DXImageTransform.Microsoft.DropShadow( offX=0, offY=5, color=#2b638f);
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	background-image: linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -o-linear-gradient(bottom, #fff) 0%, #c4d8e9 100%);
	background-image: -moz-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -ms-linear-gradient(bottom, #fff 0%, #c4d8e9 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #c4d8e9) );
	-webkit-transform: translate(0, 4px) rotateX(20deg);
	-moz-transform: translate(0, 4px) rotateX(20deg);
	transform: translate(0, 4px) rotateX(20deg);
}
.print, .back_button, .forward_button, .autorun:hover {
	cursor:pointer;
}
.hand {
	position:absolute;
	
}
 
.forward_button {
	
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;/*box-shadow: 5px 5px 5px #888888;*/
}
.forward_button:hover, .back_button:hover {
	
	cursor:pointer;
}
.forward_button:active {
	
	-webkit-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	-ms-transform: translate(0, 2px);
	transform: translate(0, 2px);/*box-shadow: 1px 1px 5px #888888;*/
}
.back_button {
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;/*box-shadow: 5px 5px 5px #888888;*/
}
.back_button:active {
	
	-webkit-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	-ms-transform: translate(0, 2px);
	transform: translate(0, 2px);/*box-shadow: 1px 1px 5px #888888;*/
	
}
.all_content {
	
	width:98%;
	margin-left:2%;
	height:98.5%;
	margin-top:.8%;
}
.tick {
	
	color:#009933;
	position:absolute;
	
}
.red_color {
	color:#C00;
	
}
.blue_color {
	color:#00F;
}
.Ob_blue_color {
	color:#C00;
}
.Ob_red_color {
	color:#006;
}
.black_color {
	color:#000;
}

.back_div, .forward_div {
	height:100%;
	float:left;
}
.back_div {
	width:8%;
}
.forward_div {
	width:30%;
}
.warning {
	text-align:center;
	display:none;
}



.copyright{
	color:#999;
	width:40%;
	float:right;
	text-align:right;
}






/*////////////////////////////////////////////////////////////////////////////////new code in base ////////////////////////////////////////////////////////////*/



.autorun
{
	width:30%;
}
.print
{
	margin-left:35%;
	width:35%;
}
.tick,.hand,.SpaceBarDiv
{
	display:none;
}
.FtrTab_Td3{
	text-align:center;
	vertical-align:top;
}
.FtrTab_Td4
{
	text-align:right;
}
.SpaceBarButton{
	
	
	display: inline-block;
	text-decoration: none;
	color: black;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transform: rotateX(20deg);
	
	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(19, rgb(255, 255, 0)),  color-stop(rgb(255, 153, 0)));
	background-image: -o-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -moz-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -ms-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	box-shadow:none;
	
	
	
	
}
.SpaceBarButton:hover {

	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(19, rgb(255, 255, 0)),  color-stop(rgb(255, 153, 0)));
	background-image: -o-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -moz-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -ms-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	cursor:pointer;
	box-shadow:none;
}
.SpaceBarButton:active {

	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background: linear-gradient(to bottom, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(19, rgb(255, 255, 0)),  color-stop(rgb(255, 153, 0)));
	background-image: -o-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -moz-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -webkit-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	background-image: -ms-linear-gradient(top, #ffff00 19%, #ff9900 100%);
	-webkit-transform: translate(0, 3px) rotateX(20deg);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	box-shadow:none;
 
}

.ContentContainer
{
	overflow-y:auto;
	height:98%;
	width:97%;
	margin-left:3%;
	
	display:none;
}
.container-right
{
	line-height:125%;
}


.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}
.rd1 span.fdn {border-top: thin solid red;}

.MainBtns{
border:2px solid rgb(38,103,191);
}
 

.Rotate{-webkit-transform: rotate(90deg); /* WebKit */
-moz-transform: rotate(90deg); /* Mozilla */
-o-transform: rotate(90deg); /* Opera */
-ms-transform: rotate(90deg); /* Internet Explorer */
transform: rotate(90deg); /* CSS3 */}




/*tr,td{
	border:1px solid #CCC;
}*/



/*// Small devices (landscape phones, 576px and up)*/


@media (min-width: 450px) and (max-width: 574px) and (orientation:landscape){ 

.container-fluid
	{
		width:450px;
		left:calc((100% - 450px) / 2);
	}
.container {
	height:79%;
}	
.ContentContainer{
	margin-left:5%;
}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
	 
}	

.main_btn_div{
	display:block;
}



.handMainBtn
{
	margin-left:2px;
	font-size:30px;
	margin-top:-32px;
}

.tickMainBtn
{
	margin-right:-2px;
	font-size:11px;		
	margin-top:-5px;
}
.MainBtns
{
	font-size:8px;/* to be provided to programmer*/
	border:1px solid rgb(38,103,191);
}
.header h2
{
	font-size:8px;
	margin-left:20px;
	padding-top:1px;
}
.Copyright
{
	font-size:7px;
}
.FtrTab_Td3{
	text-align:left;
}
.SpaceBarDiv{
 
	position:absolute; 
	height:15px;
	width: 28%;
	margin-top:-1%;
	margin-left:10%;
	
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size:6px;
	
}
.autorun
{
	height:14px;
}
.print
{
	height:14px;
}
.container-right
{
	font-size:10px;
}
}

 /*-------------------------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 575px) and (max-width: 675px) and (orientation:landscape) { 
.container-fluid
{
	width:575px;
	left:calc((100% - 575px) / 2);
}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
	 
}	




.main_btn_div{
	display:block;
}

.handMainBtn
{
	margin-left:2px;
	font-size:30px;
	margin-top:-36px;
}

.tickMainBtn
{
	margin-right:-1px;
	font-size:11px;			
	margin-top:-5px;
}

.MainBtns
{
	font-size:9px;  /* to be provided to programmer*/
	border:1px solid rgb(38,103,191);
}
.header h2
{
	font-size:10px;
	margin-left:20px;
	padding-top:2px;
}
.Copyright
{
	font-size:8px;
}
.SpaceBarDiv{

	height:15px;
	width: 70%;
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size:9px;
	
}
  .autorun
{
	height:17px;
}
.print
{
	height:17px;
}
.container-right
{
	font-size:12px;
}
}
 
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 676px) and (max-width: 775px) and (orientation:landscape){ 
.container-fluid
{
	width:676px;
	left:calc((100% - 676px) / 2);
}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
	 
}	

	




.main_btn_div{
	display:block;
}

.handMainBtn
{
	margin-left:3px;
	font-size:35px;
	margin-top:-46px;
}

.tickMainBtn
{
	margin-right:-3px;
	font-size: 15px;			
	margin-top:-7px;
}

.MainBtns
{
	font-size:12px;  /* to be provided to programmer*/
	border:1px solid rgb(38,103,191);
}
.header h2
{
	font-size:12px;
	margin-left:20px;
	padding-top:2px;
}
.Copyright
{
	font-size:8px;
}
.SpaceBarDiv{

	height:20px;
	width: 70%;
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size:10px;
	
}
.autorun
{
	height:17px;
}
.print
{
	height:17px;
}
.container-right
{
	font-size:14px;
}
}
 



/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 776px) and (max-width: 876px) and (orientation:landscape)
{
	.container-fluid
	{
		width:776px;
		left:calc((100% - 776px) / 2);
	}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
	 
}




.main_btn_div{
	display:block;
}

.handMainBtn
{
	margin-left:3px;
	font-size:40px;
	margin-top:-66px;
}

.tickMainBtn
{
	margin-right:-4px;
	font-size: 18px;			
	margin-top:-8px;
}


.MainBtns
{
	font-size:14px;  /* to be provided to programmer*/
	border:1px solid rgb(38,103,191);
}
.header h2
{
	font-size: 14px;
    margin-left: 10px;
    padding-top: 5px;
}
.Copyright
{
	font-size:12px;
}
.SpaceBarDiv{

	height:28px;
	width: 70%;
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size: 12.5px;
	
}
.container-right
{
	font-size:18px;
}

}


/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 877px) and (max-width: 980px) and (orientation:landscape)
{
	.container-fluid
	{
		width:877px;
		left:calc((100% - 877px) / 2);
	}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
}
button:active {
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
	box-shadow:0px 1px 0px #2b638f, 0px 1px 4px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 1px rgba(255, 255, 255, .5);
   
	 
}	




.main_btn_div{
	display:block;
}

.handMainBtn
{
	margin-left:3px;
	font-size:47px;
	margin-top:-75px;
}

.tickMainBtn
{
	margin-right:-5px;
	font-size: 22px;			
	margin-top:-12px;
}



.MainBtns
{
	font-size:17px;  /* to be provided to programmer*/
	border:1px solid rgb(38,103,191);
}
.header h2
{
	font-size:18.5px;
	margin-left:20px;
	padding-top:7px;
}
.Copyright
{
	font-size:12px;
}
.SpaceBarDiv{

	height:30px;
	width: 70%;
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size: 15.5px;
	
}
.container-right
{
	font-size:19px;
}

}


/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 981px) and (max-width: 1100px) and (orientation:landscape)
{
	.container-fluid
	{
		width:981px;
		left:calc((100% - 981px) / 2);
	}
button {
	 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
	box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
   
}
button:active {
	
	-webkit-box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
	-moz-box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
	box-shadow:0px 2px 0px #2b638f, 0px 2px 4px rgba(0, 0, 0, .4), inset 0px 2px 0px rgba(255, 255, 255, .3), inset 0px 0px 2px rgba(255, 255, 255, .5);
   
	 
}	



.main_btn_div{
	display:block;
}

.handMainBtn
{
	margin-left:3px;
	font-size:52px;
	margin-top:-76px;
}

.tickMainBtn
{
	margin-right:-5px;
	font-size: 25px;			
	margin-top:-13px;
}


.MainBtns
{
	font-size:21px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:21px;
	margin-left:20px;
	padding-top:3px;
}
.Copyright
{
	font-size:12px;
}
.SpaceBarDiv{

	height:33px;
	width: 70%;
}

.SpaceBarButton
{
	height:100%;
	width:100%;
	padding-left:.5%;
	padding-right:.5%;
	white-space:pre;
	margin-left:0%;
	font-size: 17.5px;
	
}
.container-right
{
	font-size: 22px;
}

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 1101px) and (max-width: 1300px) and (orientation:landscape)
{
	.container-fluid
	{
		width:1101px;
		left:calc((100% - 1101px) / 2);
	}
	
	
.main_btn_div{
	display:block;
}	
.handMainBtn
{
	font-size:60px;
	margin-top:-90px;
	margin-left:5px;
}

.tickMainBtn
{
	margin-right: -6px;
    font-size: 29px;
    margin-top: -15px;
}

.MainBtns
{
	font-size:24px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:24px;
	margin-left:20px;
	padding-top:7px;
	
}
.Copyright
{
	font-size:17px;
}
.SpaceBarDiv{
	height:35px;
	width: 75%;
}
.SpaceBarButton
{
	height:100%;
	width:100%;
	margin-left:0%;
	font-size:20px;
	padding-left: 1%;
    padding-right: 1%;
	white-space: nowrap;
}
.autorun
{
	width:32%;
}
.print
{
	width:36%;
}

.container-right
{
	font-size: 24px;
}

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 1301px) and (max-width: 1500px) and (orientation:landscape)
{


.container-fluid
	{
		width:1301px;
		left:calc((100% - 1301px) / 2);
	}



.main_btn_div{
	display:block;
}	
.handMainBtn
{
	font-size:73px;
	margin-top:-96px;
	margin-left:5px;
}

.tickMainBtn
{
    font-size: 36px;
    margin-top: -20px;
	margin-right:-8px;
}
.MainBtns
{
	font-size:22px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:23px;
	margin-left:20px;
	padding-top:7px;
}
.Copyright
{
	font-size:20px;
}
.SpaceBarDiv{
	height:45px;
	width: 80%;
}
.SpaceBarButton
{
	height:90%;
	width:80%;
	margin-left:0%;
	font-size:20px;
	padding-left: 1%;
    padding-right: 1%;
	white-space: nowrap;
}
.container-right
{
	font-size: 22px;
}
.table2_td1{padding-top:17px;}

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 1501px) and (max-width: 1800px) and (orientation:landscape)
{
	.container-fluid
	{
		width:1501px;
		left:calc((100% - 1501px) / 2);
	}
	
	


.main_btn_div{
	display:block;
}	
.handMainBtn
{
	font-size:74px;
	margin-top:-120px;
	margin-left:5px;
}

.tickMainBtn
{
    font-size: 34px;
    margin-top: -18px;
	margin-right:-8px;
}


.MainBtns
{
	font-size:30px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:30px;
	margin-left:20px;
	padding-top:7px;
}
.Copyright
{
	font-size:20px;
}
.SpaceBarDiv{
	height:60px;
	width: 75%;
}
.SpaceBarButton
{
	height:100%;
	width:100%;
	margin-left:0%;
	font-size:28px;
	padding-left: 1%;
    padding-right: 1%;
	white-space: nowrap;
}
.container-right
{
	font-size: 32px;
}
.autorun
{
	width:35%;
 
}
.print
{
	margin-left:35%;
	width:42%;
	
	}

}



/*-------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 1801px) and (max-width: 2000px) and (orientation:landscape)
{
.container-fluid
{
	width:1801px;
	left:calc((100% - 1801px) / 2);
}


.main_btn_div{
	display:block;
}	
.handMainBtn
{
	font-size:80px;
	margin-top:-142px;
	margin-left:5px;
}

.tickMainBtn
{
    font-size: 43px;
    margin-top: -20px;
	margin-right:-8px;
}




.MainBtns
{
	font-size:34px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:34px;
	margin-left:20px;
	padding-top:7px;
}
.Copyright
{
	font-size:28px;
}
.SpaceBarDiv{
	height:70px;
	width: 80%;
}
.SpaceBarButton
{
	height:100%;
	width:100%;
	margin-left:0%;
	font-size:36px;
	padding-left: 1%;
    padding-right: 1%;
	white-space: nowrap;
}
.container-right
{
	font-size: 36px;
}
.FtrTab_Td1,.FtrTab_Td2{
	width:8%;
	text-align:left;
}
.FtrTab_Td4{
	width:34%;
}
.autorun
{
	width:45%;
	margin-left:5%;
 
}
.print
{
	margin-left:25%;
	width:55%;
	
	}


}



/*-------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 2001px) and (orientation:landscape)
{
.container-fluid
{
	width:2001px;
	left:calc((100% - 2001px) / 2);
}



.main_btn_div{
	display:block;
}	
.handMainBtn
{
	font-size:85px;
	margin-top:-158px;
	margin-left:5px;
}

.tickMainBtn
{
    font-size: 50px;
    margin-top: -20px;
	margin-right:-16px;
}


.MainBtns
{
	font-size:40px;  /* to be provided to programmer*/
}
.header h2
{
	font-size:36px;
	margin-left:20px;
	padding-top:7px;
}
.Copyright
{
	font-size:34px;
}
.SpaceBarDiv{
	height:70px;
	width: 80%;
}
.SpaceBarButton
{
	height:100%;
	width:100%;
	margin-left:0%;
	font-size:36px;
	padding-left: 1%;
    padding-right: 1%;
	white-space: nowrap;
}
.container-right
{
	font-size: 42px;
}
.FtrTab_Td1,.FtrTab_Td2{
	width:8%;
	text-align:left;
}
.FtrTab_Td4{
	width:34%;
}
.autorun
{
	width:45%;
	margin-left:5%;
 
}
.print
{
	margin-left:25%;
	width:55%;
	
	}


}


@media (orientation:portrait)
{
.warning
{
	display:inline-block;
	width:100%;
	height:50%;
	margin-top:38%;
	
}
.orient
{
	width:100%;
	height:100%;
}
.container-fluid
{
	display:none;
}
}
.ContentContainer
{

	margin-left:3%;

} 